<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""/>
    <link
            rel="stylesheet"
            as="style"
            onload="this.rel='stylesheet'"
            href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>TrackFuel | Ricerca</title>

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
<div class="relative flex size-full min-h-screen flex-col bg-[#1a1a1a] dark group/design-root overflow-x-hidden"
     style='font-family: Inter, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#363636] px-10 py-3">
            <div class="flex items-center gap-4 text-white">
                <div class="size-4">
                    <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M24 18.4228L42 11.475V34.3663C42 34.7796 41.7457 35.1504 41.3601 35.2992L24 42V18.4228Z"
                                fill="currentColor"
                        ></path>
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M24 8.18819L33.4123 11.574L24 15.2071L14.5877 11.574L24 8.18819ZM9 15.8487L21 20.4805V37.6263L9 32.9945V15.8487ZM27 37.6263V20.4805L39 15.8487V32.9945L27 37.6263ZM25.354 2.29885C24.4788 1.98402 23.5212 1.98402 22.646 2.29885L4.98454 8.65208C3.7939 9.08038 3 10.2097 3 11.475V34.3663C3 36.0196 4.01719 37.5026 5.55962 38.098L22.9197 44.7987C23.6149 45.0671 24.3851 45.0671 25.0803 44.7987L42.4404 38.098C43.9828 37.5026 45 36.0196 45 34.3663V11.475C45 10.2097 44.2061 9.08038 43.0155 8.65208L25.354 2.29885Z"
                                fill="currentColor"
                        ></path>
                    </svg>
                </div>
                <a href="{% url 'gasmapApp:home' %}"><h2
                        class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">TrackFuel</h2></a>
            </div>
            <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-white text-[#1a1a1a] text-sm font-bold leading-normal tracking-[0.015em]"
            >
                <span class="truncate">Accedi</span>
            </button>
        </header>

        <div class="px-16 flex flex-1 justify-center pt-20 max-w-[30rem] w-full mx-auto">
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                <div class="@container">
                    <div class="@[480px]:p-4">

                        <h1 class="mb-8 text-center text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]">
                            Ricerca stazioni
                        </h1>

                        <form method="post" class="space-y-4 md:space-y-6"
                              action="{% url 'gasmapApp:search_station' %}">
                            {% csrf_token %}

                            <div>
                                <label for="address"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Indirizzo</label>
                                <select id="address" name="address"
                                        class="bg-[#363636]  text-[#ADADAD] placeholder-[#ADADAD] border-none text-sm rounded-lg focus:ring-[#ADADAD] focus:border-[#ADADAD] block w-full p-2.5"
                                        required>
                                    {% for addr in addresses %}
                                    <option value="{{ addr.id }}">{{ addr.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="fuel_type"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo di
                                    carburante</label>
                                <select id="fuel_type" name="fuel_type"
                                        class="bg-[#363636]  text-[#ADADAD] placeholder-[#ADADAD] border-none text-sm rounded-lg focus:ring-[#ADADAD] focus:border-[#ADADAD] block w-full p-2.5"
                                        required>
                                    {% for fuel in fuel_types %}
                                    <option value="{{ fuel.id }}">{{ fuel.description }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="order_by"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ordina per
                                    prezzo</label>
                                <select id="order_by" name="order_by"
                                        class="bg-[#363636]  text-[#ADADAD] placeholder-[#ADADAD] border-none text-sm rounded-lg focus:ring-[#ADADAD] focus:border-[#ADADAD] block w-full p-2.5"
                                        required>
                                    <option value="asc">Crescente</option>
                                    <option value="desc">Decrescente
                                    </option>
                                </select>
                            </div>

                            <input type="hidden" id="lat" name="lat" value="">
                            <input type="hidden" id="lng" name="lng" value="">


                            <button type="submit"
                                    class="bg-white w-full text-[#1a1a1a] bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                Cerca
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="px-4 flex flex-1 justify-center pb-20 max-w-[30rem] w-full mx-auto">
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                <div class="@container">
                    <div class="@[480px]:p-4">
                        {% if results %}
                        <div class="mt-6 pt-4 border-t border-solid border-t-[#363636]">
                            <h4 class="text-2xl font-semibold text-white text-center">Risultati: {{ count }}</h4>
                            <h6 class="text-md text-white text-center mt-2">Entro 5 km di distanza dall'indirizzo
                                inserito</h6>
                            <ul class="space-y-0 mt-4">
                                {% for result in results %}
                                <li class="bg-[#1a1a1a] p-4  shadow-md border-t border-solid border-t-white   border-b border-b-white">
                                    <div class="text-white">
                                        <strong class="text-lg">{{ result.name }}</strong><br/>
                                        <small>Indirizzo: {{ result.address }}</small><br/>
                                        <small>Brand: {{ result.brand }}</small><br/>
                                        <small>Inserito: {{ result.insertDate|date:"d F Y, H:i"}}</small><br/>
                                    </div>

                                    <div class="mt-4 mb-3 overflow-x-auto rounded-xl">
                                        <table class="min-w-full bg-[#1a1a1a] text-white">
                                            <thead>
                                            <tr class="bg-[#363636]">
                                                <th class="px-4 py-2">Carburante</th>
                                                <th class="px-4 py-2">Self</th>
                                                <th class="px-4 py-2">Servito</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for fuel_name, services in result.fuels %}
                                            <tr>
                                                <td class="px-4 py-2 text-center">{{ fuel_name }}</td>

                                                <!-- Colonna per carburanti self-service -->
                                                <td class="px-4 py-2 text-center">
                                                    {% if services.self_service %}
                                                    {% for service in services.self_service %}
                                                    {{ service.price }} €/litro<br>
                                                    {% endfor %}
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>

                                                <!-- Colonna per carburanti servito -->
                                                <td class="px-4 py-2 text-center">
                                                    {% if services.served %}
                                                    {% for service in services.served %}
                                                    {{ service.price }} €/litro<br>
                                                    {% endfor %}
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <form method="post" action="{% url 'gasmapApp:add_station' %}" class="mt-4">
                                        {% csrf_token %}
                                        <input type="hidden" name="name" value="{{ result.id }}"/>
                                        <button type="submit"
                                                class="w-full bg-white text-[#1a1a1a] py-2.5 px-3 rounded-xl">
                                            Salva
                                        </button>
                                    </form>
                                </li>
                                {% empty %}
                                <li class="bg-gray-800 p-4 rounded-lg shadow-md text-white">Nessun risultato trovato.
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <footer class="flex justify-center">
            <div class="flex max-w-[960px] flex-1 flex-col">
                <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">


                    <p class="text-[#adadad] text-base font-normal leading-normal">© 2024 TrackFuel. All rights
                        reserved.</p>
                </footer>
            </div>
        </footer>
    </div>
</div>
</body>
</html>





